body{

margin:0;

background:#08111f;

color:white;

font-family:Arial,sans-serif;

}



/* ANA YAPI */

.layout{
    display:flex;
    width:100%;
    align-items:stretch;
}




/* CETVEL */

#cetvel{

width:0;

background:#101b31;

border-right:1px solid #263858;

overflow:hidden;

transition:0.3s ease;

flex-shrink:0;

position:relative;

}



#cetvel.open{

width:130px;

}



/* CETVEL İÇİ */

#pitch-panel{

height:100%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

gap:6px;

padding:8px;

}



.pitch-note{

width:100px;

padding:8px 0;

text-align:center;

border-radius:10px;

background:#18294d;

font-weight:bold;

font-size:14px;

}



.pitch-note.small{

font-size:9px;

font-weight:normal;

color:#aaa;

}



/* CETVEL AÇMA SEKME */

#cetvel-tab{

position:fixed;

left:0;

top:50%;

transform:translateY(-50%);

background:#263858;

color:white;

padding:10px 5px;

border-radius:0 10px 10px 0;

writing-mode:vertical-rl;

cursor:pointer;

z-index:20;

font-size:12px;

}



/* ANA ALAN */

main{

flex:1;

padding:30px;

overflow:hidden;

}



/* LOGO */

.logo{

font-size:30px;

font-weight:bold;

background:#facc15;

color:#111;

padding:15px 25px;

border-radius:15px;

display:inline-block;

}



.subtitle{

margin-top:8px;

color:#facc15;

}



/* PANEL */

.panel{

background:#101b31;

border:1px solid #263858;

border-radius:20px;

padding:25px;

}



/* BUTON */

button{

padding:10px 16px;

background:#263858;

color:white;

border:0;

border-radius:10px;

cursor:pointer;

}



/* KARAOKE */

.words{

height:500px;

overflow-y:auto;

background:#101c34;

padding:20px;

border-radius:15px;

}



.lyric-line{

margin-bottom:18px;

}



.word{

position:relative;

display:inline-block;

padding:10px 14px;

margin:5px;

background:#19294d;

border-radius:10px;

overflow:hidden;

border:1px solid #294577;

}



.word .fill{

position:absolute;

left:0;

top:0;

height:100%;

width:var(--progress,0%);

background:#22c55e;

opacity:.65;

}



.word span{

position:relative;

z-index:2;

}



/* PITCH */

#pitch-result{

text-align:center;

margin:10px;

font-size:18px;

color:#facc15;

}
